* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


.flex{
  display: flex;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
}

.bi{
  color: #AAAAAA;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-container {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  margin-left: 120px;
  color: black;
  font-size: clamp(1.5em, 2.4vw, 4em);
  text-decoration: none;
  font-weight: bold;
}

ul li {
  text-decoration: none;
  list-style: none;
}

.nav-close,
.nav-toggel {
  color: black;
  cursor: pointer;
  font-size: 2rem;
}

@media screen and (max-width: 1030px) {

  .nav-links-container {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.4s;
    z-index: 1001;
  }

  .nav-li {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform 0.4s ease-out, visibility 0.4s;
  }

  .nav-li:nth-child(2) {
    transition-delay: 0.2s;
  }
  .nav-li:nth-child(3) {
    transition-delay: 0.3s;
  }
  .nav-li:nth-child(4) {
    transition-delay: 0.4s;
  }

  .profile-btn{
    margin-right: 30px;
  }

  .profile-btn-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  
}

@media screen and (max-width: 600px) {
  .nav-logo {
    margin-left: 70px;
  }
}@media screen and (max-width: 420px) {
  .nav-logo {
    margin-left: 40px;
  }
}
.nav-links {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav-item {
  position: relative;
  color: rgba(119, 126, 144, 1);
  font-size: 24px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  transition: opacity 0.4s;
  text-decoration: none;
  font-weight: 600;
}

.nav-item span {
  position: relative;
  transition: margin 0.5s;
}

.nav-item span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: rgba(119, 126, 144, 1);
  transition: width 0.4s ease-out;
}

.nav-item:hover span {
  margin-left: 2rem;
}

.nav-item:hover span::after {
  width: 100%;
}

.nav-links:has(.nav-item:hover) .nav-item:not(:hover) {
  opacity: 0.4;
}

.nav-close {
  position: absolute;
  top: 2rem;
  right: 4rem;
}

.nav-toggel{
  margin-right: 65px;
}

.show-nav {
  left: 0;
}

.show-nav .nav-li {
  visibility: visible;
  transform: translateX(0);
}

@media screen and (min-width: 1030px) {
  .nav-container {
    margin-inline: auto;
    height: 100px;
  }

  .nav-close,
  .nav-toggel {
    display: none;
  }

  .nav-item {
    font-size: 1rem;
  }

  .nav-links {
    flex-direction: row;
    column-gap: 2.5rem;
    margin-right: 100px;
  }

  .profile-btn{
    margin-right: 140px;
  }
}

.profile-btn {
  background: none;
  border: none;
  width: 50px;
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 5%;
  width: 390px;
  height: 200px;
  overflow: visible;
  transition: height 0.5s ease, visibility 0.5s ease, opacity 0.5s ease;
  visibility: hidden;
  opacity: 0; 
  z-index: 1000; 
}
.sub-menu-wrap.open-menu{
  height: auto;
  visibility: visible; 
  opacity: 1; 
}
.sub-menu{
  max-width: 500px;
  background: white;
  box-shadow: 0px 4px 50px 3px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
}
.user-info{
  display: flex;
  align-items: center;
}
.user-info h3{
  font-weight: 600;
}
.user-info img{
  width: 60px;
  margin-right: 15px;
}

.sub-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #AAAAAA;
  margin: 15px 0 10px;
}
.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #AAAAAA;
  margin: 20px 0;
  font-weight: bold;
  transition: color 0.3s ease, font-weight 0.3s ease;
}
.login-btn-container{
  display: flex;
  justify-content: space-evenly;
}
.login-btn{
  width: 140px;
  height: 40px;
  background-color: #225FFE;
  border: none;
  border-radius: 20px;
}
.logout{
  width: 130px;
  height: 40px;
  background: transparent;
  border: 1px solid #AAAAAA;
  border-radius: 20px;
}
.sub-menu-login{
  color: white;
  text-decoration: none;
}
.sub-menu-logout{
  color: black;
  text-decoration: none;
}
.sub-menu-link p{
  width: 100%;
  font-weight: 500;
  transition: color 0.3s ease, font-weight 0.3s ease;
}
.sub-menu-link i{
  font-size: 27px;
  -webkit-text-stroke: 1px;
  font-weight: lighter;
  color: #AAAAAA;
  padding: 8px;
  margin-right: 10px;
  transition: color 0.3s ease;
}
.sub-menu-link:hover p{
  font-weight: 600;
  color: #24262f;
}.sub-menu-link:hover i{
  color: #24262f;
}


/* login popup */
.login-popup-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-content{
  background: white;
  box-shadow: 0px 4px 50px 3px rgba(0,0,0,0.1);
  width: 500px;
  max-width: 700px;
  padding: 2em;
  border-radius: 20px;
}
.login-content h2{
  font-weight: 600;
  font-size: clamp(1.5em, 2.2vw, 2.5em);
}
.login-content i{
  font-size: 26px;
  position: relative;
  left: 26rem;
  bottom: 3.2rem;
}
.login-content form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.login-content form input{
  height: 50px;
  border-radius: 60px;
  background-color: transparent;
  border: 1px solid #AAAAAA;
}
input[type="text"], input[type="password"]{
  padding: 10px 20px;
  color: #AAAAAA;
  font-weight: 550;
}
.login-content form .login-submit {
  background-color: #3a71fe;
  color: white;
  border: none;
  margin-top: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}.login-content form .login-submit:hover {
  background-color: #0042eb;
  color: white; 
}
.forgot-pass{
  position: relative;
  bottom: 5.2rem;
  left: 19rem;
  text-decoration: none;
  color: #353945;
  font-weight: 600;
  font-size: 14px;
}
.register-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: #353945;
  font-weight: 600;
  font-size: 14px;
}
.register-link{
  text-decoration: none;
  color: #3a71fe;
  transition: color 0.3s ease, font-weight 0.3s ease;
}
.register-link:hover{
  color: #0042eb;
}









/*Searched page styling*/
.searched-container{
  height: 900px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.searched-img{
  position: absolute;
  object-fit: cover;
  height: 700px;
  width: 85%;
  border-radius: 30px;

}
.search-panel-titleTXT{
  position: absolute;
  font-size: 30px;
  text-align: center;
  margin-bottom: 150px;
  font-family: "Mona Sans";
}
.search-Bar {
  position: absolute;
  align-items: center;
  height: 200px;
  width: 70%;
  margin-top: 700px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 39px -7px black;
  font-family: "Mona Sans";
}
.vacation-Info-Input {
  transition: all 0.3s ease;
  padding: 20px;
  margin-left: 50px;
  width: 350px;
  gap: 10px;
}
.vacation-Info-Input.focused {
  transition: box-shadow .2s, background .2s;
  box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.57);
  border-radius: 10px;
  padding-left: 20px;

}
.input-icon {
  object-fit: contain;
  height: 30px;
  width: 30px;
}
.Search-input {
  font-size: 25px;
  font-weight: bolder;
  border: none;
  outline: none;
  color: black;
}
.location-input{
  width: 200px;
}
.check-in-input {

}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.search-txt{
  font-weight: bold;
  color: #777E90;
}
.add-date-txt{
  margin-left: 30px;
}
.location-input::placeholder {
  color: black;
}
.search-btn-container{
  height: 150px;

}
.search-btn{
  background-color: #225FFE;
  border-radius: 50%;
  height: 70px;
  width: 70px;

}
@media screen and (max-width: 600px) {
  .search-Bar{
    flex-wrap: wrap;
  }
}
