body html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    font-family: "Mona Sans";
}
.flex {
    display: flex;
}



.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
}

.nav-container{
    position: relative;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.nav-container a{
    text-decoration: none;
}

.nav-logo{
    margin-left: 150px;
    color: black;
   font-weight: bold;
   font-size: clamp(1.8em, 2.6vw, 4em);
}

/* ul{
    width: 250px;
    justify-content: space-between;
}

ul li{
    text-decoration: none;
    list-style: none;
}

ul li a{
    color: rgba(119, 126, 144, 1);
    font-weight: 600;
} */



.nav-close,.nav-toggel{
    color: black;
    cursor: pointer;
    font-size: 2rem;
}




@media screen and (max-width: 1150px){

    .nav-links{
        position: fixed;
        left: 0;
        top: 0;
        background-color: white;
        width: 100%;
        height: 100%;
        padding: 6rem 3.5rem 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: left .4s;
        
    }
    
}


.nav-links{
    flex-direction: column;
    row-gap: 2rem;
}



























/*dit heb ik gemaakt met behulp van google*/
/* .header-btns:before { 
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}
.header-btns:hover:before {
    width: 100%;
}

.profile-btn{
    height: 50px;
    width: 50px;
    margin-right: 100px;
    border: none;
}
.landings-img{
    height: 700px;
    width: 1000px;
    object-fit: contain;
} */
